@import url("./components/alert.css");
@import url("./components/button.css");
@import url("./components/avatar.css");
@import url("./components/badge.css");
@import url("./components/image.css");
@import url("./components/list.css");
@import url("./components/utility.css");
@import url("./components/form.css");
@import url("./components/navigation.css");
@import url("./components/card.css");



:root {
  --primary-color: #0284c7;
  --primary-light-color: #e0f2fe;
  --secondary-color: #a21caf;
  --secondary-light-color: #f5d0fe;
  --success-color: #15803d;
  --success-light-color: #bbf7d0;
  --danger-color: #dc2626;
  --danger-light-color: #fecaca;
  --warning-color: #ca8a04;
  --warning-light-color: #fef9c3;
  --light-color: #cbd5e1;
  --dark-color: #1e293b;

  --primary-theme-color: #ec1d24;
  --primary-theme-light-color: #f87171;
  --primary-theme-shade-20: #fac6c8;
  --secondary-theme-color: #fefefe;
  --dark-theme-color: #202020;
  --dark-theme-light-color: #71717a;
  --dark-theme-shade-20: #7a7a83;
  --dark-theme-shade-40: #83838b;
  --dark-theme-shade-60: #95959b;
  --dark-theme-shade-80: #dbdbdd;
}
