@import url("./components/alert.css");
@import url("./components/button.css");
@import url("./components/avatar.css");
@import url("./components/badge.css");
@import url("./components/image.css");
@import url("./components/utile.css");
@import url("./components/form.css");

:root {
  --primary-color: #0284c7;
  --primary-light-color: #e0f2fe;
  --primary-theme-color: #ec1d24;
  --secondary-color: #a21caf;
  --secondary-light-color: #f5d0fe;
  --secondary-theme-color: #fefefe;
  --success-color: #15803d;
  --success-light-color: #bbf7d0;
  --danger-color: #dc2626;
  --danger-light-color: #fecaca;
  --warning-color: #ca8a04;
  --warning-light-color: #fef9c3;
  --light-color: #cbd5e1;
  --dark-color: #1e293b;
  --drak-theme-color: #202020;
}
