.btn {
  padding: 0.5em 1em;
  border: 1px solid var(--primary-theme-color);
  cursor: pointer;
}

.btn-link {
  margin: 0 1em;
  padding: 0.5em;
  color: var(--primary-theme-color);
  text-decoration: none;
}

.btn-primary {
  background-color: var(--primary-theme-color);
  color: var(--secondary-theme-color);
}

.btn-primary:hover {
  background-color: var(--secondary-theme-color);
  color: var(--primary-theme-color);
}

.btn-secondary {
  background-color: var(--secondary-theme-color);
  color: var(--primary-theme-color);
}

.btn-secondary:hover {
  background-color: var(--primary-theme-color);
  color: var(--secondary-theme-color);
}

.btn-icon {
  color: var(--primary-theme-color);
}

.btn-float-icon {
  padding: 1em;
  background-color: var(--primary-theme-color);
  color: var(--secondary-theme-color);
  border-radius: 50%;
}
