.card-container {
  padding: 0.5em;
  background-color: var(--secondary-theme-color);
  box-shadow: 0px 0px 10px 5px var(--primary-light-color);
}

.horizontal-card-container {
  width: 80%;
  margin: 0.5rem auto;
}

.vertical-card-container {
  width: max-content;
}

.card-image {
  margin: 0.5em;
}

.card-title {
  font-size: 1.25rem;
  display: inline;
  margin-right: 1em;
}

.card-subtitle {
  font-size: 1rem;
}
